<div class="card"  style="padding: 5%">
  <form #f="ngForm">
    <div>
      <label for="nom">nom:</label><br/>
      <input type="text" id="nom" name="nom" ngControl="nom" [(ngModel)] = "patient.nom" required>
    </div>
    <div>
      <label for="poid">poid(kg):</label><br/>
      <input type="number" id="poid" name="poid" ngControl="poid" [(ngModel)] = "patient.poid" required>
    </div>
    <div>
      <label for="taille">taille(m):</label><br/>
      <input type="number" id="taille" name="taille" ngControl="taille" [(ngModel)] = "patient.taille" required>
    </div>
    <div>
      <label for="longueurMain">longueur main(m):</label><br/>
      <input type="number" id="longueurMain" name="longueurMain" ngControl="longueurMain" [(ngModel)] = "patient.longueurMain" required>
    </div>
    <div>
      <label for="longueurPied">longueur pied(m):</label><br/>
      <input type="number" id="longueurPied" name="longueurPied" ngControl="longueurPied" [(ngModel)] = "patient.longueurPied" required>
    </div>

    <button routerLink="/patients"  (click)="onClickAddPatient()">Submit</button>
  </form>

</div>


