 <div class="container-fluid">
    <div class="card" >
      <div class="card-header">
        Liste des patients
      </div>
      <div class="card-body  table-responsive ">
        <table class="table" style="margin: 0 auto">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">nom</th>
              <th scope="col">code patient</th>
              <th scope="col">Poid(kg)</th>
              <th scope="col">taille</th>
              <th scope="col">longueur main</th>
              <th scope="col">longueur pied</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of patients; let i = index">
              <th scope="row">{{i}}</th>
              <td>{{p.nom}}</td>
              <td>{{p.codePatient}}</td>
              <td>{{p.poid}}</td>
              <td>{{p.taille}}</td>
              <td>{{p.longueurMain}}</td>
              <td>{{p.longueurPied}}</td>
              <td> <a class="btn btn-primary" routerLink="/commande" (click)="selection(p)">créer commande</a></td>
            </tr>
          </tbody>
        </table>
        <a class="btn btn-primary" routerLink="/createpatient" >ajouter patient</a>
        <br/>
      </div>
    </div>
  </div>
