<div class="container-fluid" >
  <div class="card" >
    <div class="card-header">
      Liste des patients
    </div>
    <div class="card-body  table-responsive ">
      <table class="table " style="width: 90%">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">patient</th>
          <th scope="col">model prothese</th>
          <th scope="col">date de la commande</th>
          <th scope="col">date prevue de délivrance</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of commandes; let i = index">
          <th scope="row">{{i}}</th>
          <td>{{c.patient.nom}}</td>
          <td>{{c.prothese.model}}</td>
          <td>{{c.dateCommande}}</td>
          <td>{{c.datePrevu}}</td>
        </tr>
        </tbody>
      </table>
      <a class="btn btn-primary" routerLink="/patients" >créer commande</a>
      <br/>
    </div>
  </div>



</div>
