
<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="images[0]" alt="Random first slide">
    <div class="carousel-caption">
      <h3>Proth'app</h3>
      <p>Harness the power of 3D printed technologie.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" alt="Random second slide">
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]" alt="Random third slide">
  </ng-template>
</ngb-carousel>



<!--- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Proth'app</h1>
    <p>Notre but est de	digitaliser	la	commande,	le	traitement	et	le	suivi	du
      bon	 fonctionnement	 de	 prothèses	 orthopédiques.	 Le	 1er objectif	 est	 de	 minimiser	 le
      temps	 et	 coût	 de	 livraison	 de	 la	 prothèse	 au	 patient.</p>
  </div>
</div>


<!--- Cards -->
  <div class= "container-fluid padding">
    <div class="row padding">
      <div class="col-md-4 d-flex align-items-stretch">
        <div class="card">
          <img class ="card-img-top" src="assets/img/commande.jpg" height="450"/>
          <div class="card-body">
            <h4 class="card-title"> Commandes</h4>
            <p class="card-text"> Créez une commande pour votre patient. Vous aurez tout les
              deux la possibilitée de faire le suivi de celle-ci.</p>
            <br/>
            <a routerLink="/commandes" class="btn btn-outline-secondary"> créer commande</a>
          </div>
        </div>
    </div>

    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card ">
        <img class ="card-img-top" src="assets/img/suivi.jpg" height="450"/>
        <div class="card-body">
          <h4 class="card-title"> Suivi</h4>
          <p class="card-text"> Faites le suivi des données envoyés par le dispositif de connexion de vos patients.
            Vous pouvez créer des rendez-vous, et enregistrez vos conclusions.</p>

          <a routerLink="/donnees" class="btn btn-outline-secondary">faire suivi</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card">
        <img class ="card-img-top" src="assets/img/exercise.jpg" height="450"/>
        <div class="card-body">
          <h4 class="card-title"> Programme d'exercice</h4>
          <p class="card-text"> Vous pouvez créer un programme d'exercices pour vos patients.
            Mettez en ligne des videos, des posters... que vos patients pourront consultez.</p>
          <a routerLink="#" class="btn btn-outline-secondary"> créer programme</a>
        </div>
      </div>
    </div>


  </div>
</div>
<br/><br/>
