
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Proth'app</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home"><img src="assets/img/logo.png"  height="80" width="100"
                                                   style="position:absolute; top:-12px"/></a>
    <button class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed" data-target="#navbarResp" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarSupportedContent" id="navbarResp">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html" routerLink="/home">Home</a>
        <li>
        <li class="btn-group nav-item dropdown" dropdown>
          <a dropdownToggle class="nav-link dropdown-toggle dropdown-toggle">
            Suivi <span class="caret"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" routerLink="/donnees" href="#">données reçues</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="/rdv" href="#">rendez-vous</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/commandes">Commande</a>
        <li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/patients">Patients</a>
        <li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/protheses">Protheses</a>
        <li>
        <li class="nav-item">
          <a class="nav-link" ><img src="assets/img/logo-login.png" height="30" width="30" /></a>
        <li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet>

</router-outlet>

</body>
</html>














