<h3>Selection du Patient:</h3>
<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Liste des Patients</button><br/>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button *ngFor="let p of patients"  class="dropdown-item" (click)="show(p)">{{p.nom}}</button>
      </div>
    </div>
  </div>
</div>

<br/><br/>
<div class="container-fluid" [hidden]="hidden">
  <h2>mesure du Patient {{pService.selectedPatient.nom}}</h2>
  <table class="table" style="margin: 0 auto" >

    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">temperature</th>
      <th scope="col">pression</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let d of donnees; let i = index">
      <th scope="row">{{i}}</th>
      <td>{{d.temperature}}</td>
      <td>{{d.pression}}</td>
    </tr>
    </tbody>
  </table>

</div>
