<div class="container">
  <h1>création d'une commande pour le patient {{patientService.selectedPatient.nom}}<br/><br/></h1>

  <h3>Selection du model:</h3>
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Liste de models</button><br/>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button *ngFor="let m of prothesesModels"  class="dropdown-item" (click)="show(m)">{{m}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<br/><br/>

<div class="container" [hidden]="hidden">
  <h1>{{prothesesByModel[0].model}}</h1>
  <div class= "container-fluid padding">
    <div class="row padding">
      <div *ngFor="let p of prothesesByModel" class="col-md-4 d-flex align-items-stretch">
        <div class="card" style="cursor: pointer">
          <img class ="card-img-top" [src]="p.base64Image" (click)="createcommande(patientService.selectedPatient, p)" routerLink="/home"/>
        </div>
      </div>
    </div>
  </div>
  <br/><br/>
  <h4>date de commande: {{date | date: 'dd/MM/yyyy'}}</h4>
  <h4>prevu pour le: {{date2 | date: 'dd/MM/yyyy'}}</h4>
</div>
