<div class="container-fluid" style="width: 90%">
<div class="card" >
  <div class="card-header">
    Liste des protheses
  </div>
  <div class="card-body table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">model</th>
        <th scope="col">image</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of protheses; let i = index">
        <th scope="row">{{i}}</th>
        <td>{{p.model}}</td>
        <td><img  [src]="p.base64Image"/></td>
      </tr>
      </tbody>
    </table>
    <br/>
  </div>
</div>
</div>

