/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');



.navDPMenu{
  margin-top:22%;
}

.navDPComMenu{
  margin-top:12%;
}

.navDPPatMenu{
  margin-top:18%;
}

#navbarResp{
  margin-right:3%;
}

.carousel {
  max-height: 1000px;
  overflow: hidden;
}
.carousel img {
  width: 100%;
  height: auto;
  min-height: 340px;
}


/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {
  .navDPMenu{
    margin-top:0%;
  }

  .navDPComMenu{
    margin-top:0%;
  }

  .navDPPatMenu{
    margin-top:0%;
  }

  #navbarResp{
    margin-right:0%;
  }

  .dropdown-menu, .nav-link{
    display: block;
  }
}
@media (max-width: 576px) {
  .navDPMenu {
    margin-top: 0%;
  }

  .navDPComMenu {
    margin-top: 0%;
  }

  .navDPPatMenu {
    margin-top: 0%;
  }

  #navbarResp {
    margin-right: 0%;
  }

}
html,body{
  height: 100%
}

  /*---Firefox Bug Fix --*/
  .carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
  /*--- Bootstrap Padding Fix --*/
  [class*="col-"] {
    padding: 1rem;
  }









